{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">И так сойдёт...</h1>
  <p class="lead">Используемые технологии при создании сайта</p>
  <hr class="my-4">
    <li>attrs==19.3.0</li>
    <li>beautifulsoup4</li>
    <li>certifi==2019.9.11</li>
    <li>chardet==3.0.4</li>
    <li>django-debug-toolbar==2.2</li>
    <li>django==2.2.6</li>
    <li>Faker==12.0.1</li>
    <li>idna==2.8</li>
    <li>importlib-metadata==1.5.0</li>
    <li>mixer==7.1.2</li>
    <li>more-itertools==8.2.0 </li>
    <li>packaging==20.1</li>           
    <li>pluggy==0.13.1 </li>           
    <li>py==1.8.1 </li>                
    <li>pyparsing==2.4.6    </li>      
    <li>pytest-django==3.8.0</li>
    <li>pytest-pythonpath==0.7.3</li>
    <li>pytest==5.3.5   </li>          
    <li>pytz==2019.3  </li>            
    <li>requests==2.22.0</li>
    <li>six==1.14.0       </li>       
    <li>sorl-thumbnail==12.6.3</li>
    <li>sqlparse==0.3.0  </li>         
    <li>urllib3==1.25.6 </li>          
    <li>wcwidth==0.1.8 </li>          
    <li>zipp==2.2.0</li>             

  <p class="lead">
    
  </p>
</div>
</div>
{% endblock %}